#menu {
    width: 100%;
    display: flex;
    background-color: rgb(235, 235, 235);
    align-items: center;
    padding: 0 1rem;
}

.menubar-button input {
    display: none;
}

.btn {
    cursor: pointer;
    margin-right: 7px;
    padding: 0 3px;
}

.btn:hover {
    background-color: rgb(182, 182, 182);
}