#menu {
    width: 100%;
    display: flex;
    /* background-color: rgb(235, 235, 235); */
    border-bottom: 1px solid rgba(0, 0, 0, .75);
    align-items: center;
    padding: .5rem 0;
}

.menubar-button input {
    display: none;
}

.btn {
    cursor: pointer;
    margin-right: 7px;
    padding: 0 3px;
    background-color: #ffffff;
}

.btn:hover {
    background-color: rgb(182, 182, 182);
}