#dir-wrapper {
    width: 500px;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#disk-wrapper {
    width: 20%;
    background-color: blueviolet;
}

#folder-wrapper {
    width: 78%;
    background-color: coral;
}

.disk-item {
    text-align: center;
    width: 100%;
    background-color: azure;
}