#rightpanel {
    float: right;
}

#isi-content {
    width: 100%;
    height: 99%;
    resize: none;
    border: none;
}

#isi-content:active,
#isi-content:focus {
    border: none;
    outline: none;
}