/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    list-style: none;
    border: none;
}

body {
    overflow: hidden;
}

.clear-float {
    clear: both;
}

.ml-1 {
    margin-left: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}